<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar atividade</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>Editar atividade</h1>

    <form method="POST">

        <label>Título:</label>
        <input type="text" name="titulo" value="{{ atividade['titulo'] }}" required>

        <label>Disciplina:</label>
        <input type="text" name="disciplina" value="{{ atividade['disciplina'] }}" required>

        <label>Descrição:</label>
        <textarea name="descricao" required>{{ atividade['descricao'] }}</textarea>

        <button type="submit">Salvar alterações</button>

    </form>

    <a href="/atividades">Voltar</a>

</body>
</html>
